<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0"> Extension and Closure </h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fa fa-trophy text-dark"> </i> </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Post-Award </a>
                              </li>
                            <!-- <li aria-current="page" class="breadcrumb-item active">
                                Reporting
                            </li> -->
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-6">
			<div class="card">
				<div class="card-header">
					<h5 class="h3 mb-0"> Grant Extensions by Area </h5>
				</div>
				<div class="card-body">
					<div class="chart">
						<div class="amchart" id="chartextensionclosurepie1"></div>
					</div>
				</div>
			</div>
        </div>
        <div class="col-xl-6">
			<div class="card">
				<div class="card-header">
					<h5 class="h3 mb-0"> Recent Grant Closure by Area </h5>
				</div>
				<div class="card-body">
					<div class="chart">
						<div class="amchart" id="chartextensionclosurepie2"></div>
					</div>
				</div>
			</div>
        </div>
        <div class="col-xl-12">
			<div class="card">
				<div class="card-header">
					<h5 class="h3 mb-0"> Grant Extension Area with Cost vs without Cost </h5>
				</div>
				<div class="card-body">
					<div class="chart">
                        <div class="amchart" id="chartextensionclosure3dstacked1"></div>
						
					</div>
				</div>
			</div>
        </div>
        <div class="col-xl-12">
			<div class="card">
				<div class="card-header">
					<h5 class="h3 mb-0"> No of Completed/Withdrawn/Terminated/Failed PerArea </h5>
				</div>
				<div class="card-body">
					<div class="chart">
						<div class="amchart" id="chartextensionclosureclustered1"></div>
					</div>
				</div>
			</div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h6 class="h2 text-dark d-inline-block mb-0"> Find Request of Extension </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class=" col-xl-3">
                            <div class=" form-group">
                                <label class=" form-control-label" for="example4cols2Input">
                                    Type of Grant
                                </label>
                    
                                <input
                                  class=" form-control"
                                  id="example4cols2Input"
                                  placeholder="Type here..."
                                  type="text"
                                />
                            </div>
                        </div>
                        <div class=" col-xl-3">
                            <div class=" form-group">
                                <label class=" form-control-label" for="example4cols2Input">
                                    Research Niche Area
                                </label>
                    
                                <input
                                  class=" form-control"
                                  id="example4cols2Input"
                                  placeholder="Type here..."
                                  type="text"
                                />
                            </div>
                        </div>
                        <div class=" col-xl-3">
                            <div class=" form-group">
                                <label class=" form-control-label" for="example4cols2Input">
                                    Submission Date
                                </label>

                                <input
                                  class=" form-control"
                                  id="example4cols2Input"
                                  placeholder="Type here..."
                                  type="text"
                                />
                            </div>
                        </div>
                        <div class=" col-xl-3">
                            <div class=" form-group">
                                <label class=" form-control-label" for="example4cols2Input">
                                  Project Duration
                                </label>
                    
                                <input
                                  class=" form-control"
                                  id="example4cols2Input"
                                  placeholder="Type here..."
                                  type="text"
                                />
                            </div>
                        </div>
                  
                        <div class="col-xl-12 text-right">
                            <button class="btn btn-default" style="width: 10%;" type="button"> Find </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <div class=" card-header">
                        <div class="row">
                            <div class="col-6">  
                                <h6 class="h2 text-dark d-inline-block mb-0"> Account List </h6>
                            </div> 
                            <div class="col-6 text-right">
                                <button class="btn btn-default" type="button" (click)="lgModal.show()"> New Account </button>
                            </div>
                        </div>
                    </div>
                    <div class="dataTables_wrapper py-4">		  
                        <ngx-datatable
                          class="bootstrap selection-cell"
                          [columnMode]="'force'"
                          [headerHeight]="50"
                          [footerHeight]="50"
                          [rowHeight]="'auto'"
                          [limit]="entries != -1 ? entries : undefined"
                          [rows]="temp"
                          
                        >
                            <ngx-datatable-column name="No">
                              <ng-template
                              let-rowIndex="rowIndex"
                              let-row="row"
                              ngx-datatable-cell-template
                              >
                              <strong>{{ rowIndex + 1 }}</strong>
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Type of Grant" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.typeGrant}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Research Niche Area" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.nicheArea}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Submission Date" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.submissionData}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Project Duration" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.researchDuration}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Action">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <button class=" btn btn-icon btn-default btn-sm" type="button" title="View/Modify" (click)="lgModal.show()">
                                        <span class=" btn-inner--icon"> <i class=" far fa-eye"> </i> </span>
                                    </button>
                                    <button class=" btn btn-icon btn-danger btn-sm" type="button" title="Delete" (click)="delete()">
                                        <span class=" btn-inner--icon"> <i class=" fas fa-trash"> </i> </span>
                                    </button>
                                    <!-- <button class=" btn btn-icon btn-default btn-sm" type="button" title="Print">
                                        <span class=" btn-inner--icon"> <i class=" fas fa-print"> </i> </span>
                                    </button> -->
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left"> Account Timeline </h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="chart">
                            <div class="amchart" id="chartextensionclosuretimeline1"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class=" form-group">
                                    <label class=" form-control-label" for="example4cols2Input">
                                        Proposal Title
                                    </label>
                        
                                    <input
                                      class=" form-control"
                                      id="example4cols2Input"
                                      placeholder="Type here..."
                                      type="text"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class=" form-group">
                                    <label class=" form-control-label" for="example4cols2Input">
                                        Niche Area
                                    </label>
                        
                                    <input
                                      class=" form-control"
                                      id="example4cols2Input"
                                      placeholder="Type here..."
                                      type="text"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class=" form-group">
                                    <label class=" form-control-label" for="example4cols2Input">
                                        Background
                                    </label>
                        
                                    <input
                                      class=" form-control"
                                      id="example4cols2Input"
                                      placeholder="Type here..."
                                      type="text"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class=" form-group">
                                    <label class=" form-control-label" for="example4cols2Input">
                                        Research Duration
                                    </label>
                        
                                    <input
                                      class=" form-control"
                                      id="example4cols2Input"
                                      placeholder="Type here..."
                                      type="text"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class=" form-group">
                                    <label class=" form-control-label" for="example4cols2Input">
                                        Grant Amount (RM)
                                    </label>
                        
                                    <input
                                      class=" form-control"
                                      id="example4cols2Input"
                                      placeholder="Type here..."
                                      type="text"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class=" form-group">
                                    <label class=" form-control-label" for="example4cols2Input">
                                        Amount Paid (RM)
                                    </label>
                        
                                    <input
                                      class=" form-control"
                                      id="example4cols2Input"
                                      placeholder="Type here..."
                                      type="text"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class=" form-group">
                                    <label class=" form-control-label" for="example4cols2Input">
                                        Set Technical Check
                                    </label>
                        
                                    <input
                                        class=" form-control"
                                        id="example-date-input"
                                        type="date"
                                        placeholder="2021-01-01"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class=" form-group">
                                    <label class=" form-control-label" for="example4cols2Input">
                                        Set Panel
                                    </label>
                        
                                    <input
                                      class=" form-control"
                                      id="example4cols2Input"
                                      placeholder="Type here..."
                                      type="text"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class=" form-group">
                                    <label class=" form-control-label" for="example4cols2Input">
                                        New  Completion Date
                                    </label>
                        
                                    <input
                                        class=" form-control"
                                        id="example-date-input"
                                        type="date"
                                        placeholder="2021-01-01"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class=" form-group">
                                    <label class=" form-control-label" for="example4cols2Input">
                                        Additional Amount (RM)
                                    </label>
                        
                                    <input
                                      class=" form-control"
                                      id="example4cols2Input"
                                      placeholder="Type here..."
                                      type="text"
                                    />
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button 
        class=" btn btn-default" 
        type="button" 
        class="btn btn-success"
        (click)="successSwal()"
        >
            Submit
        </button>
        <button 
            class=" btn btn-default" 
            type="button" 
            class="btn btn-warning"
            (click)="confirm()"
        >
            Reject
        </button>
        <button 
            class=" btn btn-default" 
            type="button" 
            class="btn btn-danger"
            (click)="confirm()"
        >
            Freeze Account
        </button>
        <button
            class=" btn btn-link ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="lgModal.hide()"
        >
            Close
        </button>
      </div>
    </div>
  </div>
</div>